# Install j2lint from the devel branch. Latest release on pypi (1.1.0) doesn't have the --extensions option
j2lint @ git+https://github.com/aristanetworks/j2lint.git@9faa60918fb4f493af9e706209412e1c541ce384
salt-lint==0.9.2
yamllint==1.35.1
