name: Scan Latest Image With Trivy (Weekly)
on:
  schedule:
    - cron: "5 12 * * 6"   # Saturdays at 12:05 UTC
  pull_request:
jobs:
  trivy-scan:
    name: trivy-scan
    runs-on: ubuntu-latest
    steps:
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: 'image'
          image-ref: 'ghcr.io/${{ github.repository }}:latest'
          format: 'table'
          exit-code: '1'
          vuln-type: 'os,library'
          scanners: 'vuln,secret'
          severity: 'CRITICAL,HIGH'
