name: Scan Latest Image With Trivy (Weekly)
on:
  schedule:
    #- cron: "0 6 * * 6"   # Saturdays at 06:00 UTC
    - cron: "23 21 * * 0"   # Testing
  pull_request:
jobs:
  trivy-scan:
    name: trivy-scan
    runs-on: ubuntu-latest
    steps:
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: 'image'
          image-ref: 'ghcr.io/${{ github.repository }}:latest'
          format: 'table'
          exit-code: '1'
          vuln-type: 'os,library'
          scanners: 'vuln,secret'
          severity: 'CRITICAL,HIGH'
